* {
    margin: 0;
    padding: 0;
}

div.header {
    text-align: center;
    font-size: 40px;
}

div.box {
    position: absolute;
    top: 10%;
    left: 45%;
    margin: auto;
    padding: 5px;
    border-style: solid;
    border-color: lightgray;
    border-width: medium;
    width: 180px;
    text-align: center;
}

input:focus {
    border-color: darkgray;
}

div.label {
    margin: auto;
    padding: 5px;
}

div.button {
    margin: 2px;
    padding: 3px;
}